build
lib
bin
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.Trash
ehthumbs.db
Thumbs.db
.~
*.sublime-workspace
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ilk
*.map
*.exp
*.dSYM/
*.su
*.idb
*.pdb
*.swp
